* {
  box-sizing: border-box;
}
.body {
}
.body--hidden {
  overflow: hidden;
}
.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
}
.photograph-header-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  clip-path: circle();
}
.photograph-wp {
  display: flex;
  flex-wrap: wrap;
  margin: 0 100px;
  gap: 85px;
  padding-bottom: 100px;
}
.media-wp-text--title {
  color: var(--color-primary);
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.media-wp-text--like {
  color: var(--color-primary);
  cursor: default;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
  border: 0;
  background: 0;
}
.media-wp-text--like--liked {
  color: var(--color-primary);
  cursor: default;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}
.p-fa--img {
  margin-left: 5px;
  cursor: pointer;
}
.media-wp {
  width: 350px;
  height: fit-content;
}
.media-wp-mediawp {
  width: 100%;
  height: 300px;
}
.media-wp-mediawp-media {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--color-primary);
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover {
  color: black;
  background: #db8876;
}
/* Modal */
.modalwp {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.232);
  top: 0;
  left: 0;
  z-index: 2;
}
.modalwp--show {
  display: block;
}
.modalwp-contact.modalwp--show {
  display: grid;
  place-items: center;
}
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modalwp-contact .modal {
  height: 800px;
}

/* lightbox */

.modalwp-lightbox .modal {
  background-color: white;
  width: 100%;
  height: 100%;
}
.modal-wp {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 1050px;
}
.modal-wp-view-imgwp-title {
  color: #901c1c;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.modal-wp-close.btn-close {
  border: 0;
  background: 0;
  cursor: pointer;
}
.modalwp-lightbox .modal-wp-close.btn-close {
  position: absolute;
  top: 30px;
  right: 111px;
  z-index: 100;
}
.modal-wp-btnwp {
  position: absolute;
  display: flex;
  max-width: calc(1050px + 200px);
  width: 100%;
  justify-content: space-between;
  transform: translate(0%, -50%);
  top: 50%;
  z-index: 100;
}
.modal-wp-btnwp .btn-carousel {
  border: 0;
  background: none;
  cursor: pointer;
}
.modal-wp-btnwp #next svg {
  transform: rotate(180deg);
}
.modal-wp-view {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 1050px;
  justify-content: center;
}
.media-wp-text {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.modal-wp-view-imgwp {
  max-height: calc(100% - 40px);
}
.modal-wp-view-imgwp-media {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
/* contact */
.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input,
form textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
/* Sort */
.sort {
  margin: 30px 100px;
  display: flex;
  gap: 20px;
  align-items: center;
}
p.click {
  color: #000;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 90px;
}
/* Price & Like */
.priceAndLike-wp {
  background-color: #db8876;
  position: fixed;
  bottom: 0;
  right: 36px;
  width: 376px;
  display: flex;
  justify-content: space-around;
  padding: 11px 0 10px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 1;
}
.priceAndLike-wp-like::after {
  content: "\f004";
  width: 20px;
  height: 20px;
  font-weight: 900;
  display: block;
  font-family: "Font Awesome 6 Free";
  color: black;
}
.priceAndLike-wp-like {
  display: flex;
  gap: 6px;
  align-items: baseline;
  color: #000;
  text-align: right;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.priceAndLike-wp-price {
  color: #000;
  text-align: right;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* Select */
details {
  position: relative;
  width: 170px;
}

details[open] {
  z-index: 1;
}

summary {
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ddd;
  list-style: none;
  background: var(--color-primary);
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary:before {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

details[open] summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

summary:after {
  content: "";
  display: inline-block;
  float: right;
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 3px solid currentColor;
  border-left: 3px solid currentColor;
  border-bottom-left-radius: 2px;
  transform: rotate(-45deg) translate(-50%, 0%);
  transform-origin: center center;
  transition: transform ease-in-out 100ms;
  color: white;
}

summary:focus {
  outline: none;
}

details[open] summary:after {
  transform: rotate(-225deg) translate(50%, 0%);
}
.custom-select {
  border: 0;
  position: relative;
}
.custom-select .custom-select-legend {
  list-style: none;
  width: calc(170px - 1rem);
  cursor: pointer;
}
.custom-select .custom-select-legend-btn {
  position: relative;
  display: block;
  padding: 1rem;
  border-radius: 5px;
  background: var(--color-primary);
  width: 100%;
  color: #fff;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  border: 0;
  text-align: left;
}
.custom-select .custom-select-legend-btn::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 11px;
  color: white;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  right: 18px;
  background: url(../assets/icons/expand.svg) no-repeat;
  transition: transform 0.2s ease-in-out;
}
.custom-select .custom-select-legend-btn.open::after {
  transform: translateY(-50%) rotate(0deg);
}
.custom-select .custom-select-list {
  width: 100%;
  background: var(--color-primary);
  position: absolute;
  left: 0;
  top: -4px;
  padding: 1rem;
  margin: 0;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  display: none;
  z-index: 1;
}
.custom-select-list--show {
  display: block !important;
}
.custom-select .custom-select-list-item {
  color: #fff;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.custom-select .custom-select-list-item label {
  width: 100%;
  display: block;
}
ul {
  width: 100%;
  background: var(--color-primary);
  position: absolute;
  left: 0;
  top: 55.2px;
  padding: 1rem;
  margin: 0;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
}

li {
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid white;
}

li:first-child {
  padding-top: 0;
}

li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

input[type="radio"] {
  counter-increment: radios;
  appearance: none;
  display: none;
}

/* FAKE SELECT */

/* summary.radios {
  counter-reset: radios;
}

summary.radios:before {
  content: var(--selection);
}



input[type="radio"]:checked {
  display: inline;
  --display: block;
}

input[type="radio"]:after {
  content: attr(title);
  display: inline;
  color: #fff;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

ul.list {
  counter-reset: labels;
  list-style: none;
}
ul.list li label {
  color: #fff;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

label {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

label span {
  --display: none;
  display: var(--display);
  width: 1rem;
  height: 1rem;
  border: 1px solid #727272;
  border-radius: 3px;
} */
