* {
  box-sizing: border-box;
}

#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
}
.photograph-header-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  clip-path: circle();
}
.photograph-wp {
  display: flex;
  flex-wrap: wrap;
  margin: 0 100px;
  gap: 85px;
}
.media-wp {
  /* flex: 350px; */
  width: 350px;
  height: 300px;
}
.media-wp-media {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
/* Modal */
.modalwp{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.232);
    top: 0;
    left: 0;
}
.modalwp--show{
    display: grid;
    place-items: center;
}
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
/* Sort */
.sort{
    margin: 30px 100px;
    display: flex;
    gap:20px;
}
/* Price & Like */
.priceAndLike-wp {
  background-color: #db8876;
  position: fixed;
  bottom: 0;
  right: 36px;
}
.priceAndLike-wp-like::after {
  content: "\f004";
  width: 20px;
  height: 20px;
  font-weight: 900;
  display: block;
  font-family: "Font Awesome 6 Free";
  color: black;
}
