@import url("photographer.css");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
}

.photographer_section .photographer_card_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  gap: 20px;
}
.photographer_section .photographer_card_header .photographer_card_header_img {
  clip-path: circle();
  object-fit: cover;
}
.photographer_section .photographer_card_location {
  color: #901c1c;
  text-align: center;
  font-size: 13px;
  font-family: DM Sans;
}
.photographer_section .photographer_card_desc {
  color: #000;
  text-align: center;
  font-size: 10px;
  font-family: DM Sans;
}
.photographer_section .photographer_card_price {
  color: #757575;
  text-align: center;
  font-size: 9px;
  font-family: DM Sans;
}
